{% extends '::base.html.twig' %}

{% block body %}
<h1>Your offer:</h1>
<h3>{{days}} days for VIP-status, Job {{job.title}}</h3>
<h5>That costs: {{payment.getAmount()}} RUB</h5>
<form action="{{ payment.getFormAction() }}" method="post">
    {% for field, value in payment.getFormValues() %}
		<input type="hidden" name="{{field}}" value="{{value}}" />
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock %}
