{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Job list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>Created_at</th>
                <th>User_id</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('job_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.userid }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('job_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('job_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
					{% if entity.type == 1 %}
					<li>
						<a href="{{ path('payment', { 'id': entity.id }) }}">
							Buy VIP
						</a>
					</li>
					{% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('job_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
